@model Application.Dtos.RegisterDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="mt-2 row justify-content-center">
    <div class="col-md-4 text-center">
        <form class="text-center" asp-action="Create">
            <div class="form-group mb-1">
                <input type="text" name="Name" class="form-control" placeholder="Name" />
            </div>

            <div class="form-group mb-1">
                <input type="number" name="Price" class="form-control" placeholder="Price"/>
            </div>

            <div class="form-group mb-1">
                <input type="text" placeholder="Manufacture date" name="ManufactureDate" class="form-control" />
            </div>
            <div class="mb-1">
                <select id="CategoryId" name="CategoryId" class="form-select">
                    <option selected class="form-control" disabled hidden>Select category</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/CreateView.js"></script>
}
